<h1><%= @artist.name %></h1><br>

<p>Bio: <%= @artist.bio %><br></p>


<br><button><%= link_to "Update Artist", edit_artist_path %></button>
<button><%= link_to "Artist Index", artists_path %></button>